/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        background-color: red;
    }
    
    
    .encabezado_inicial {
        display: grid;
        grid-template-columns: auto;
        padding: 7px;
        justify-content: center;
        height: 134px;

    }
    

    .encabezado {
        padding: 2px;
        
    }

    .iconos {
        background-color: #9b9b99;
    }

    a {
        margin-left: 6px;
    }

    .links{
        display: none;
    }


    #portada {
        background-image: url("../imagenes/prueba2.png");
        padding: 176px;
        width: 73%;
        
    }
    
    

    #cuadro_a_2 {
        display: grid;

        text-align: center;

    }
    
    
    
    
    .info{
        display: grid;
    }

    #contenido1 , #contenido2 {
        margin-bottom: 7px;
    }


    .contactar{
        display: grid;
        grid-template-columns: auto;
    
    }

    #mensaje {
        width: 21rem;
    }
}